/*
Theme Name: devbase-child

Description: Base Theme
Version: 0.7
Author: Julian Apong
Author URI: http://japong.net
Tags: Blank, HTML5, CSS3
Template: devbase
License: MIT
License URI: http://opensource.org/licenses/mit-license.php

Based on the excellent HTML5 Blank Theme by Todd Motto
*/


/*------------------------------------*\
MAIN
\*------------------------------------*/

$padding_general: 25px;
$transition_time: 0.25s;
$white: rgba(240, 240, 240, 1);
$black: rgba(15, 15, 15, 1);

$light_grey:rgba(110, 131, 152, 1);
$grey:rgba(74, 88, 102, 1);
$dark_grey:rgba(36, 43, 50, 1);
$video_grey:rgba(64, 64, 64, 1);

$light_blue:rgba(104, 206, 235, 1);
$blue:rgba(69, 156, 214, 1);
$dark_blue:rgba(34, 106, 193, 1);

$light_green:#3CC062;
$green:#288041;
$dark_green:#144020;

$light_yellow:#FCD718;
$yellow:#F8AE10;
$dark_yellow:#F48508;

$light_pink:#F69F7E;
$pink:#EC6A54;
$dark_pink:#E2352A;

$light_red:#DE4556;
$red:#BC2E39;
$dark_red:#9a171c;

$light_pink-purple:#b433bd;
$purple:#78227e;
$dark_purple:#3c113f;

$light_indigo:#6042c1;
$indigo:#402c83;
$dark_indigo:#201645;


$highlight: $yellow;
$primary: $dark_grey;
$secondary: $light_blue;


$colors :
("video_grey", $video_grey, $yellow, $white, $blue),
("indigo", $indigo, $white, $yellow, $white),
("red", $red, $white, $indigo, $white),
("yellow", $yellow, $black, $indigo, $black),
("green", $green, $white, $red, $black),
("purple",  $purple, $white, $blue, $black),
("blue", $blue, $white, $pink, $black),
("black", $black, $yellow, $red, $black),
("white_indigo", $white, $indigo, $yellow, $black),
("white_red", $white, $red, $yellow, $black),
("grey_yellow", $dark_grey, $yellow, $indigo, $white),
("dark_grey", $dark_grey, $yellow, $red, $white),
("pink", $pink, $black, $green, $black),
(highlight, $highlight, $black, $dark_grey, $black),
(primary, $primary, $white, $yellow, $black),
(tertiary, $white, $yellow, $light_blue, $black),
(secondary, $secondary, $white, $yellow, $black),
("white", $white, $indigo, $red, $black);



@each $name, $color, $color_secondary, $color_highlight, $color_tertiary in $colors {
  .background_#{$name} {
    background-color: $color;
    color: $color_secondary;
  }

  .background_#{$name} .section_title{
    border-bottom: 2px solid $color_highlight;
  }

  .background_#{$name} p{
    color: $color_tertiary;
  }

  .background_#{$name} a {
    color: $color_highlight;
    &:focus,
    &:hover {
      color: lighten($color_highlight,15%);
    }
  }

  .background_#{$name} .cta_button{
    background-color: $color_highlight;
    padding:8px;
    margin-bottom:25px;
    display:inline-block;
    font-size:1.5em;
    font-family: 'cabinitalic';
    transition:color 0.25s, background-color 0.25s;

    &:focus,
    &:hover {
      background-color: $color;
    }

    &:focus,
    &:hover a{
      color: $color_highlight;
    }
  }

  .cta_button a{
    color: $color;
  }

  .background_#{$name} .product_image img{
    border:5px $color_highlight solid;
  }

  .background_#{$name} h2{
  }

  .background_#{$name} .product_title{
    color:$color_highlight;
  }

  .background_#{$name} .product_price{
    font-family: 'nexa_boldregular';
    font-size:2em;
    color:$color_highlight;
  }

  .overlay_#{$name} .section_overlay{
    background-color:$color;
  }

  .menu img{
    object-fit:cover;
    height:200px;
    width:100%;
    border: 3px solid $color_secondary;
  }



  .background_#{$name} .cart_input{
    font-family:FontAwesome;
    color:transparent;
    border:3px solid $color_highlight;
    background:rgba(0, 0, 0, 0);
    font-size:1em;
    transition:color 0.25s;
    border-radius:50px;
    margin-top: 10px;
    margin-left: 10px;
    padding:0px 3px;
  }

  .background_#{$name} .cart_input.product_delete{
    border:0px;
    color:$color_secondary;
    padding:0px;
    margin:0px;
    font-family: 'open_sansregular';

  }

  .background_#{$name} .cart_number_check{
    border:3px solid $primary;
    font-family:FontAwesome;
    color:transparent;
    background:rgba(0, 0, 0, 0);
    font-size:1em;
    transition:color 0.25s;
    border-radius:50px;
    margin-top: 10px;
    margin-left: 10px;
    padding:0px 3px;
  }

  .background_#{$name} .cart_input.cart_checked{
    font-family:FontAwesome;
    color:$color_highlight;
  }

  .background_#{$name} input.cart_input:hover, .background_#{$name} input.cart_input:focus{
    color: $color_highlight;
  }

  .background_#{$name} .cart{
    background: $color_highlight;
    color: $color;
  }



  .background_#{$name} .cart .product{
    text-align:center;
    padding: 25px;
    display:inline-block;
    width:auto;
  }

  .cart .basket_open{
    float:right;
  }

  .background_#{$name} .cart .product .product_image{
    height:125px;
  }

  .background_#{$name} .cart .product .product_title{
    color: $color;
  }

  .background_#{$name} .cart .product .product_price{
    font-family: 'nexa_boldregular';
    color: $color;
  }

  .background_#{$name} .product .cart_number{
    margin-top: 25px;
    width: 35px;
    font-size: 15px;
    text-align:center;
    color:black;
    margin-left:5px;
  }

  .background_#{$name} .cart .product img{
    width:100px;
    height:100px;
    border-radius:100px;
    border:3px solid $color;
  }

  .background_#{$name} .lower_button_cta{
    float:right;
    background-color:$color_highlight;
    color:$color;
    padding:25px;
    width:70%;
  }

  .background_#{$name} .lower_button_cta a{
    color:$primary;
  }

  .background_#{$name}.background_gradient.background_spotted{
    background-image:url('img/spotted_background.png'), radial-gradient(ellipse at center, lighten($color, 30%) 0%,$color 100%);
  }

  .background_#{$name} .tag_icons{
    font-size:36px;
    position:relative;
    color:$color_secondary;
    transition:opacity 0.25s, color 0.25s;
  }

  .background_#{$name} .tag_icon{
    margin-right:25px;
  }

  .background_#{$name} .tag_icon:hover{

    color:  saturate($color_highlight, 20%);

  }

  .background_#{$name} .tag_icons .icon_tag_text{
    font-size:12px;
    opacity:0;
    top:0;
    background-color:$color;
    padding:5px;
    border-radius:5px;
    position:absolute;
    transition:opacity 0.25s, color 0.25s;
    font-family: 'open_sanslight';
  }

  .background_#{$name} .tag_icons .tag_icon:hover .icon_tag_text{
    font-size:12px;
    opacity:1;

  }

}



.background_tertiary .product_description{
  color:$white;
}

#map{
  height:235px;
  width:100%;
}



/*------------------------------------*\
fonts
\*------------------------------------*/

@font-face {
  font-family: 'nexa_rust_slabblack_shadow_01';
  src: url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot');
  src: url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
  url('fonts/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'burfordrusticbookregular_2';
  src: url('fonts/burfordrusticbook-regular2-webfont.woff2') format('woff2'),
  url('fonts/burfordrusticbook-regular2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'burfordrusticbookregular';
  src: url('fonts/burfordrusticbook-regular3-webfont.woff2') format('woff2'),
  url('fonts/burfordrusticbook-regular3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'santelia_rough_altbold_thrdmo';
  src: url('fonts/santeliaroughaltboldthrdemo-webfont.woff2') format('woff2'),
  url('fonts/santeliaroughaltboldthrdemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'santelia_scriptbold_dmo';
  src: url('fonts/santeliascriptbolddemo-webfont.woff2') format('woff2'),
  url('fonts/santeliascriptbolddemo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'milkshakeregular';
  src: url('fonts/milkshake-webfont.woff2') format('woff2'),
  url('fonts/milkshake-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 2, 2016 */



@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansitalic';
  src: url('fonts/opensans-italic-webfont.woff2') format('woff2'),
  url('fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight';
  src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
  url('fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanssemibold';
  src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i7q0ib');
  src:  url('fonts/icomoon.eot?i7q0ib#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?i7q0ib') format('truetype'),
  url('fonts/icomoon.woff?i7q0ib') format('woff'),
  url('fonts/icomoon.svg?i7q0ib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'nexa_boldregular';
  src: url('fonts/nexa_free_bold-webfont.woff2') format('woff2'),
  url('fonts/nexa_free_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cabinmedium';
  src: url('fonts/cabin-medium-webfont.woff2') format('woff2'),
  url('fonts/cabin-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'cabinitalic';
  src: url('fonts/cabin-italic-webfont.woff2') format('woff2'),
  url('fonts/cabin-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gluten:before {
  content: "\e900";
}
.icon-lactose_free:before {
  content: "\e901";
}
.icon-vegan:before {
  content: "\e902";
}
.icon-vegetarian:before {
  content: "\e903";
}

body{
  max-width:100%;
  overflow-x:hidden;
}

p{
  font-family: 'source_sans_proregular';
}

p em{
  font-family: 'cabinitalic';
}

p strong{
  font-family: 'cabinitalic';
}

h1, h2, h3{
  font-family: 'nexa_boldregular';
}

h1{
  font-size:10em;
}

h2{
  font-size:6em;
  display:inline-block;
}

h2::first-letter{
  margin-left:-5px;
}

.test_scroll{
  transition:text-shadow 0.25s, color 0.25s;
}

a.test_scroll.link_active{
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  color:$yellow;
}


.orient_center div.wpcf7{
  text-align:center;
}

.orient_center .section_title{
  text-align:center;
}

.category_waypoint_active .category_title.section_title{
  position:fixed;
  top:0;
}

.category_waypoint_active.orient_right .category_title.section_title{
  right:15%;
}

.category_waypoint_active.orient_left .category_title.section_title{
  left:30%;
}

.category_waypoint.orient_left .page_category_image{
  left:30%;
}

.category_waypoint.orient_right .page_category_image{
  right:15%;
}

.category_waypoint_active .page_category_image{
  opacity:1;
}

.waypoint .section_title{
  opacity:0.5;
  transition:opacity 1s;
}


.waypoint.waypoint_active .section_title{
  opacity:1;
}



/*
.category_waypoint_active{
border:3px solid blue !important;
}

.waypoint_active{
border:3px solid red !important;
}


.panel_test{
border: 3px solid green !important;
}
*/

.page_section_title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity:0;
  transition:opacity 0.25s 0.5s;
  text-align:center;
}

.page_category_repeater_image{
  width:75vw;
  height:80vh;
  object-fit:contain;
}

.page_category_interstitial {
  z-index:500;
}

.page_category_interstitial .section{
  height:100vh;
  display:flex;
  justify-content:space-around;
  z-index:500;
  flex-wrap:wrap;
}

.section_long_description{
  background-color:rgba(0, 0, 0, 0.75);
  padding:25px;
  border-radius:5px;
  height:1px;
  overflow:hidden;
  opacity:0;
  transition:opacity 0.5s;
  position:absolute;
  z-index:5000;
  max-width:800px;
}

.description_container{
  width:100%;
}

.section_long_description.active{
  display:block;
  height:auto;
  opacity:1;
}

.vertical_align_middle .section_content{
  justify-content: center;
  align-items: center;
  flex-direction:column;
}


.category_waypoint_active .page_category_image{
  position:fixed;
  top:0;
  display:block !important;
  width:25%
}

.page_category_image{
  display: block;
  width: 25%;
  height: 85%;
  opacity: 1;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  z-index: 1;
}

.page_category_video{
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  z-index: 1;
  object-fit:contain;
  transition:filter 0.5s;

}

.fade_grey{
  filter: saturate(0%);
}

.fade_in_transparency{
  opacity:1;
}

.bg_fixed{
  opacity:0.01;
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
  transition:opacity 0.5s;
}

.orient_left.bg_fixed{
  background-position:center;
}

.orient_right.bg_fixed{
  background-position:right;
}


.category_waypoint_active.bg_fixed{
  opacity:1;
  background-size:contain;
  background-attachment: fixed;
  background-repeat:no-repeat;
}

/*
.category_waypoint_bottom{
position:absolute;
bottom:0;
border:1px solid red !important;
width:50px;
height:50px;
}
*/

.clearfix{
  clear:both;
  width:100%;
}


.font_script{
  font-family: 'cabinitalic';
  margin-top: 0;
}



.section_tagline{
  font-family: 'cabinitalic';
  font-size:1.6em;
  width:40vw;
  display:inline-block;
  margin-left:25px;
}

.overlay_half .section_tagline{
  width:auto;
}


.float_right{
  float:right;
}

.float_left{
  float:left;
}



.section_title{
  display:inline;
  width:100%;
}

.section_title h2{
  margin-bottom:25px;
  font-size:3em;
  display:inline;
}

.product{
  margin-bottom:25px;
}

.product_title{
  font-family: 'cabinitalic';
  font-size:2em;
}

.product_price{
  font-family: 'cabinitalic';
  font-size:2em;
  margin-bottom:-10px;
}

.product_price:before{
  content:'$';

}

.orient_left{
  text-align:left;
}

.orient_left .section_content_text{
  float:right;
}

.orient_right .section_content_text{
  float:left;
}


.orient_right{
  text-align:right;
}

.category{
  position:relative;
  width:100%;
  float:right;
}

.section{
  position:relative;
  width:100%;
  float:right;
}

.section_content{
  min-height:100vh;
  width: 85%;
  left:15%;
  z-index:3;
  max-width:100%;
  position:absolute;
    display:flex;
}

.cta_button a:after{
  font-family: FontAwesome;
  content: " \f0a9";
}


.column_reverse{
  flex-direction: column-reverse;
  display:flex;
  height: calc(100vh - 250px);
}

.lower_button_cta_container{
  width:100%;
}

.cta_text{
  font-family:'cabinitalic';
}


.wpcf7 input{
  width:90%;
  padding:5px;
  margin:10px;
}

.wpcf7 label{
  display:none;
}

.contact_form_name{
  display:inline-block;
  float:left;
  width:50%;
  text-align:center;
}

.contact_form_email{
  display:inline-block;
  float:left;
  width:50%;
  text-align:center;
}

.contact_form_message{
  width:100%;
}

.cakes .wpcf7, .contact .wpcf7{
  background-color:transparent;
  color:$primary;
  padding:25px;

}

.cakes .wpcf7 input{
  width:calc(35% - 10px);
  padding:5px;
  margin-left:20px;
}


.contact .wpcf7 input{
  width:calc(35% - 10px);
  padding:5px;
  margin-left:15px;
}

.cakes .wpcf7, .contact .wpcf7{
  text-align:right;
}

.cakes .wpcf7 textarea{
  width:70%;
  padding:10px;
  height:200px;
  margin-right: -3px;
}

.contact .wpcf7 textarea{
  width:70%;
  padding:10px;
  height:200px;
  margin-right: 0px;
}

.cakes .wpcf7 .bottom_bar{
  display:inline-block;
  background-color:$highlight;
  width:70%;
  padding:5px 25px;
  text-align:left;
}

.cakes .wpcf7-submit, .contact .wpcf7-submit{
  font-family:'cabinitalic'
}

.cakes .wpcf7-submit:after{
  font-family:FontAwesome;
  content:'\f18e';
}

.cakes select.wpcf7-form-control.wpcf7-select {
  background-color: transparent;
  border: 0px;
  font-size:1.0em;
  font-weight:bold;
  margin-right:10px;
}



.cakes label, .contact label{
  display:none;
}

.cakes .wpcf7 br, .contact .wpcf7 br{
  display: none;
}

.cakes .wpcf7 .bottom-bar select{
  display:inline-block;

}




.section_content_main{
  width:100%;
}

.section_content_text{
  width:100%;
  padding:25px 0;
  height:100%;
  align-items:center;
  display:flex;
  flex-wrap: wrap;
  margin:0;
}



.menu_content{
  max-width:100%;
  margin:0 auto;
}

.menu_section{
  max-width:15%;
  height:100vh;

}

.menu_section.sticky{
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  display:flex;

  background-color:rgba(0, 0, 0, 0.2);
}



.nav ul {
  justify-content: space-between;
  text-align:center;
  margin-bottom:50px;
}

.nav ul li{
  position:relative;
  font-family: 'nexa_boldregular';

}

.nav ul li:hover>ul {
  display: block;
  position:absolute;
  top:45px;
  background-color:lighten($primary, 15%);
  z-index:999;
}


.sticky_bottom .nav ul li:hover>ul {
  display: block;
  position:absolute;
  bottom:38px;
  background-color:$primary;
  z-index:2;
  top:initial;
}

.sticky_bottom .nav ul li:hover>ul li{
  padding:5px;
}

.nav ul li ul li:nth-child(odd){
  background-color:lighten($primary, 5%);
}

.nav ul li ul{
  padding:0px;
}

.nav ul li:hover>ul li{
  display: block;
}

.nav ul.sub-menu li a{
  width:100%;
}

.nav ul li a {
  font-size:15px;
}

.nav .basket_link{
  float:right;
}

.nav .basket_link a{
  color:$light_blue;
  transition:color 0.25s, text-shadow 0.25s;
}

.nav .basket_link.basket_active a{
  color:$yellow;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.nav .basket_link a:first-of-type::before{

}

.nav_sub{
  height:75px;
  width:55%;
  left:30%;
  position:fixed;
  bottom:50px;
  z-index:5000;
  display:flex;
  align-items: center;
}

.nav_sub ul{
  display:flex;
  list-style-type:none;
  justify-content:space-around;
  width:100%;
  -webkit-padding-start:0px;
}

.nav_sub ul li{
  display:inline-block;
}

.menu_section.sticky_bottom .menu-item-has-children > a:after{
  font-family:FontAwesome;
  content:' \f0aa';
}

.sticky .menu-item-has-children > a:after{
  font-family:FontAwesome;
  content:' \f0ab';
}

// half-width

.section.section_overlay.overlay_half .section_overlay{
  width:50%;
  height:100%;
}


.section.section_overlay.overlay_half .products{
  flex-direction:column;
}


.section.section_overlay.overlay_half .products{
  flex-direction:column;
}

.section.section_overlay.overlay_half.column .section_content_main {
  width: 100% !important;
}

.section.section_overlay.overlay_half .section_content_main {
  width: 50%;
  display: inline-block;
  z-index: 4;
  padding: 25px;
}

.section.section_overlay.overlay_half .product_image{
  height:150px;
  width:150px;

}

.section.overlay_half .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.section.overlay_half.orient_right .product {
  flex-direction: row-reverse;
}

.section .product_image{
  width:100%;
  margin:0 auto;
  height:200px;
  text-align: center;
}

.section .product_image img{
  object-fit:cover;
  height:100%;
  width:100%;
  font-family: 'object-fit: cover;'
}

.section_text{
  font-size:1.3em;
}

.section.feature .product_image img{
  border-radius:100%;
  width:200px;
  height:200px;
  font-family: 'object-fit: cover;'
}

.section.section_overlay.overlay_half.orient_right .product_image{
  float:right;
}

.section.section_overlay.overlay_half.orient_left .product_image{
  float:left;
}


.section.section_overlay .section_overlay{
  position:absolute;

}

.section.section_overlay.overlay_full .section_overlay{
  width:100%;
  height:100%;
}

.section.section_overlay.overlay_half_height .section_overlay{
  width:100%;
  height:calc(100% - 50vh);
  bottom:0;
}




.section.section_overlay.overlay_half_height .section_content {
  padding-top:50vh;
  min-height:initial;
  display: flex;
  z-index: 3;
  flex-direction: column-reverse;
}

.section.section_overlay.overlay_half_height .section_content_main{
  height:50%;
  width:100%;
  bottom:0;
  z-index: 5;
}




.section.section_overlay.overlay_dark .section_overlay{
  background-color:rgba(0, 0, 0, 0.85);
  z-index:2;
}

.section.section_overlay.orient_left .section_overlay{
  left:0;
}

.section.section_overlay.orient_right .section_overlay{
  right:0;
}

.section.orient_right .section_content{
  flex-direction:row-reverse;
}


.section.section_overlay.overlay_half .product_details{
  width:calc(100% - 175px);
}

.menu{
  text-align:center;
}



.menu h3{
  font-family: 'cabinitalic';
  font-size:2em;
}

.section.section_overlay.overlay_half .product_image img{
  object-fit:cover;
  height:100%;
  width:100%;
}


.section .products{
  justify-content:space-between;
}

.section .cart{
  justify-content:space-between;
  display:inline-block;
  width:50vw;
  position:absolute;
  background-color:$highlight;
  right:0;
  z-index:10;
  padding:0px;
  opacity:0;
  transition:max-height 0.25s, padding 0.25s, opacity 0.25s;
  max-height:0px;
  overflow-y:hidden;
  overflow-x:scroll;
  box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}

.section .cart a{
  color:$primary;
}

.cart .cart_interior .product .product_description{
  display:none;
}

.cart .cart_interior .product .product_tags{
  display:none;
}

.cart input.cart_input{
  border-color: $primary !important;
}

.cart input.cart_input:hover, .cart input.cart_input:focus{
  color: $primary !important;
}

.cart_contact .wpcf7 input{
  min-width:220px;
  margin:0;
}

.cart_contact input.wpcf7-form-control.wpcf7-submit.cart_send{
  background-color:$primary;
  color:$yellow;
  margin-top:20px;
  margin-bottom:20px;
}

.cart_contact textarea.wpcf7-form-control.wpcf7-textarea{
  width:100%;
}




.cart_contact input.wpcf7-form-control.wpcf7-submit.cart_send:hover{
  background-color:$white;
  color:$light_blue;
}

.text_products{
  display:none;
}

#text_products_list{
  display:none;
}

.section_content.section_content_cart{
  flex-wrap:wrap;
}


.cart .cart_interior{
  width:100%;
  float:left;
  white-space:nowrap;
  overflow-x:auto;
}

.cart_page.cart_interior{
  padding:25px;
  width:100%;
}

.cart_page .go_to_basket{
  display:none;
}

.cart_contact{
  width:100%;
}

.cart_interior img{
  height:50px;
  width:calc(100% - 10px);
  margin:0px 5px;
  object-fit:cover;
  filter: grayscale(1);
  transition:filter 0.25s;
}

.cart_interior img:hover, .cart_interior img:focus{
  filter: grayscale(0);
}


.cart_page.cart_interior .product{
  padding:25px;
  width:100%;
  display:block;
  background-color:$white;
  margin-bottom:0;
  overflow:auto;
}

.cart_page.cart_interior .product:nth-child(2n){
  background-color:darken($white, 15%);
}

.cart_page.cart_interior .product .product_image{
  float:left;
  width:30%;
  margin-right:25px;
}

.cart_page.cart_interior .product .product_description{
  width:70%;
  padding-left:25px;
}


.cart_page.cart_interior .product .product_ordering{
  float:right;
}

.cart_page.cart_interior .price_total{
  float:right;
  font-family: nexa_boldregular;
  font-size: 2em;
  color: #333e48;
}

.cart_page.cart_interior .cart_end{
  background-color:#fff;
  padding:25px;
  overflow:auto;
}



.section .cart.cart_open{
  justify-content:space-between;
  opacity:1;
  max-height:500px;
  padding:25px;
  overflow: hidden;
}

.sticky_bottom .section .cart.cart_open{
  top: -525px;
}

.cart_updated{
  color:$white !important;
}

.cart_page .cart_interior{
}


.section.orient_center .section_text{
  text-align:center;
}

.section.orient_center .product{
  text-align:center;
  width:30%;
}

.section.overlay_half .product{
  width:100%;
}

.section .product{
  width:30%;
}

.spotted_bg{
  background-image:url('img/spotted_background.png');
}

.bg_cover{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.menu_section{
  position:fixed;
  bottom:0;
  width:20vw;
  height:100vh;
  z-index:10;
}

.menu_section.sticky_bottom{
  position:fixed;
  bottom:0;
  width:20vw;
  height:100vh;
  z-index:10;

}

.menu_section.sticky{
  top:auto;
}

.header_logo{
  width:250px;
  height:250px;

}

.header .section_content{
  flex-direction:column-reverse;
}

.menu_section.sticky .header_home_logo_icon {
  opacity: 1;
  width: 100%;
  margin-bottom:25px;
}

.menu_section_mobile{
  display:none;
}

.header_home_logo_icon {
  width: 100%;
  opacity: 0;
  height: 50px;
  margin-top: 4px;
  transition: width .5s,opacity .5s;
}

.homepage_header{
  height:75vh;
}

.home_next{
  position:absolute;
  bottom:15vh;
}

.column-reverse .section_content{
  display: flex;
  flex-direction: column-reverse;
}


.nav ul li a:hover, .nav ul li a:focus {
  padding: 5px 10px;
  display: inline-block;
  color: $highlight;
  background:transparent;
}

.nav ul li a{
  color:$white;
}

footer{
  padding-left:15%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display: flex;
}


.footer_content{
  max-width:65%;
  min-height:200px;
  padding:25px 0px;
  margin: 0 auto;
  width:100%;
}

.footer_links{
  margin-top:25px;
}

.footer_links span{
  font-size:2em;
  margin-right:25px;
}

.footer_links a{

}

span.map {
  width: 100%;
  min-height: 300px;
  display: inline-block;
}

input.wpcf7-form-control.wpcf7-submit {
  background-color: $yellow;
  border: 0;
  font-size: 20px;
  padding: 10px;
  transition:color 0.25s, background-color 0.25s;
}

input.wpcf7-form-control.wpcf7-submit:hover, input.wpcf7-form-control.wpcf7-submit:focus  {
  background-color: $white;
  color:$yellow;
  border: 0;
  font-size: 20px;
  padding: 10px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


@media (max-width: 1280px) {

}


@media (max-width: 768px) {

  body{
    max-width:100%;
    overflow-x:hidden;
  }

  .menu_section.background_primary.sticky {
    position:fixed;
    bottom:0;
    width:100%;
    height:50px;
    z-index:10000;
    max-width:100%;
    display:none;
  }

  .menu_section_mobile.sticky_bottom {
    position:fixed;
    bottom:0;
    width:100%;
    height:85px;
    z-index:10000;
    max-width:100%;
    display:flex;
    padding:5px;
  }

  .menu_section{

  }

  .page_category_interstitial .section{
    text-align: center;
  }

  .category{
    width:100%;
  }

  .page_category_repeater_image{
    width:100vw;
    height:100vw;
    object-fit:contain;
  }

  .panel_test{
    padding-top:0px;
  }

  .nav ul {
    padding:12px 25px;
    display: block;
    justify-content: space-between;
    -webkit-padding-start: 0px;

  }

  .section_content_text {
    width:100%;
    background-color:rgba(0, 0, 0, 0.8);
    padding:25px;
    color:white;
  }

  .section_title h2 {
    font-size: 1.5em;
    display: inline;

  }

  .section_content{
    width:100%;
    padding:0px;
    left:0;
  }



  .nav_sub{
    width:100%;
    left:0;
    bottom:0;
    height:30px;
  }

  .section.section_overlay.overlay_dark .section_overlay{
    width:100%;
  }

  .section.section_overlay.overlay_half .section_content_main {
    width: 100%;
  }

  .section.section_overlay.overlay_half .product_image {
    height: 150px;
    width: 150px;
    float:none;
  }

  .section.overlay_half .product {
    display:inline-block;
  }

  .section.section_overlay.overlay_half .product_details {
    width: 100%;
    display:inline-block;
  }

  .section .products {
    flex-wrap: wrap;
  }

  .section.orient_center .product {
    width: 100vw;
  }

  .section .product {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav .basket_link{
    float: inherit;
  }

  .nav ul{
    text-align:center;
    padding:0px 25px;
  }

  .nav ul li a{
    font-size:10px;
    padding: 5px 3px;
  }

  .nav ul li a:focus, .nav ul li a:hover{
    padding: 5px 3px;
  }

  .menu_section.sticky .header_home_logo_icon{
    width:30%;
    margin:0 auto;
  }

  .section #map{
    width:100%;
  }

  .section .cart {
    display: none;
    width: 100vw;
    background-color: #ffc60a;
    right: 0;
    z-index: 10;
  }

  .section .cart.cart_open{
    display:inline-block;
  }

  .section.section_overlay.overlay_half .section_overlay {
    width: 100%;
    height: 100%;
  }

  .section_tagline{
    width:100%;
    margin-top:25px;
  }

  .cart_interior{
display:flex;
  }

  .cart_interior img{
width:auto;
  }

  h2{
    font-size:10vw;
  }

  .section_content_text{
    height:calc(100% - 85px);
  }

  .section_long_description.active{
    margin-left:-25px;
    height:60vh;
    overflow:auto;
  }

}
