/*
Theme Name: devbase-child

Description: Base Theme
Version: 0.7
Author: Julian Apong
Author URI: http://japong.net
Tags: Blank, HTML5, CSS3
Template: devbase
License: MIT
License URI: http://opensource.org/licenses/mit-license.php

Based on the excellent HTML5 Blank Theme by Todd Motto
*/
/*------------------------------------*\
MAIN
\*------------------------------------*/
.background_video_grey {
  background-color: #404040;
  color: #F8AE10; }

.background_video_grey .section_title {
  border-bottom: 2px solid #f0f0f0; }

.background_video_grey p {
  color: #459cd6; }

.background_video_grey a {
  color: #f0f0f0; }
  .background_video_grey a:focus, .background_video_grey a:hover {
    color: white; }

.background_video_grey .cta_button {
  background-color: #f0f0f0;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_video_grey .cta_button:focus, .background_video_grey .cta_button:hover {
    background-color: #404040; }
  .background_video_grey .cta_button:focus, .background_video_grey .cta_button:hover a {
    color: #f0f0f0; }

.cta_button a {
  color: #404040; }

.background_video_grey .product_image img {
  border: 5px #f0f0f0 solid; }

.background_video_grey .product_title {
  color: #f0f0f0; }

.background_video_grey .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #f0f0f0; }

.overlay_video_grey .section_overlay {
  background-color: #404040; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #F8AE10; }

.background_video_grey .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #f0f0f0;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_video_grey .cart_input.product_delete {
  border: 0px;
  color: #F8AE10;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_video_grey .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_video_grey .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #f0f0f0; }

.background_video_grey input.cart_input:hover, .background_video_grey input.cart_input:focus {
  color: #f0f0f0; }

.background_video_grey .cart {
  background: #f0f0f0;
  color: #404040; }

.background_video_grey .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_video_grey .cart .product .product_image {
  height: 125px; }

.background_video_grey .cart .product .product_title {
  color: #404040; }

.background_video_grey .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #404040; }

.background_video_grey .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_video_grey .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #404040; }

.background_video_grey .lower_button_cta {
  float: right;
  background-color: #f0f0f0;
  color: #404040;
  padding: 25px;
  width: 70%; }

.background_video_grey .lower_button_cta a {
  color: #242b32; }

.background_video_grey.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #8d8d8d 0%, #404040 100%); }

.background_video_grey .tag_icons {
  font-size: 36px;
  position: relative;
  color: #F8AE10;
  transition: opacity 0.25s, color 0.25s; }

.background_video_grey .tag_icon {
  margin-right: 25px; }

.background_video_grey .tag_icon:hover {
  color: #f3eded; }

.background_video_grey .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #404040;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_video_grey .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_indigo {
  background-color: #402c83;
  color: #f0f0f0; }

.background_indigo .section_title {
  border-bottom: 2px solid #F8AE10; }

.background_indigo p {
  color: #f0f0f0; }

.background_indigo a {
  color: #F8AE10; }
  .background_indigo a:focus, .background_indigo a:hover {
    color: #fac75a; }

.background_indigo .cta_button {
  background-color: #F8AE10;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_indigo .cta_button:focus, .background_indigo .cta_button:hover {
    background-color: #402c83; }
  .background_indigo .cta_button:focus, .background_indigo .cta_button:hover a {
    color: #F8AE10; }

.cta_button a {
  color: #402c83; }

.background_indigo .product_image img {
  border: 5px #F8AE10 solid; }

.background_indigo .product_title {
  color: #F8AE10; }

.background_indigo .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #F8AE10; }

.overlay_indigo .section_overlay {
  background-color: #402c83; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_indigo .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #F8AE10;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_indigo .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_indigo .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_indigo .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #F8AE10; }

.background_indigo input.cart_input:hover, .background_indigo input.cart_input:focus {
  color: #F8AE10; }

.background_indigo .cart {
  background: #F8AE10;
  color: #402c83; }

.background_indigo .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_indigo .cart .product .product_image {
  height: 125px; }

.background_indigo .cart .product .product_title {
  color: #402c83; }

.background_indigo .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #402c83; }

.background_indigo .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_indigo .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #402c83; }

.background_indigo .lower_button_cta {
  float: right;
  background-color: #F8AE10;
  color: #402c83;
  padding: 25px;
  width: 70%; }

.background_indigo .lower_button_cta a {
  color: #242b32; }

.background_indigo.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #8c77d1 0%, #402c83 100%); }

.background_indigo .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_indigo .tag_icon {
  margin-right: 25px; }

.background_indigo .tag_icon:hover {
  color: #ffb109; }

.background_indigo .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #402c83;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_indigo .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_red {
  background-color: #BC2E39;
  color: #f0f0f0; }

.background_red .section_title {
  border-bottom: 2px solid #402c83; }

.background_red p {
  color: #f0f0f0; }

.background_red a {
  color: #402c83; }
  .background_red a:focus, .background_red a:hover {
    color: #5c3fbc; }

.background_red .cta_button {
  background-color: #402c83;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_red .cta_button:focus, .background_red .cta_button:hover {
    background-color: #BC2E39; }
  .background_red .cta_button:focus, .background_red .cta_button:hover a {
    color: #402c83; }

.cta_button a {
  color: #BC2E39; }

.background_red .product_image img {
  border: 5px #402c83 solid; }

.background_red .product_title {
  color: #402c83; }

.background_red .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #402c83; }

.overlay_red .section_overlay {
  background-color: #BC2E39; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_red .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #402c83;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_red .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_red .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_red .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #402c83; }

.background_red input.cart_input:hover, .background_red input.cart_input:focus {
  color: #402c83; }

.background_red .cart {
  background: #402c83;
  color: #BC2E39; }

.background_red .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_red .cart .product .product_image {
  height: 125px; }

.background_red .cart .product .product_title {
  color: #BC2E39; }

.background_red .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #BC2E39; }

.background_red .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_red .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #BC2E39; }

.background_red .lower_button_cta {
  float: right;
  background-color: #402c83;
  color: #BC2E39;
  padding: 25px;
  width: 70%; }

.background_red .lower_button_cta a {
  color: #242b32; }

.background_red.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #e79ca2 0%, #BC2E39 100%); }

.background_red .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_red .tag_icon {
  margin-right: 25px; }

.background_red .tag_icon:hover {
  color: #371b95; }

.background_red .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #BC2E39;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_red .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_yellow {
  background-color: #F8AE10;
  color: #0f0f0f; }

.background_yellow .section_title {
  border-bottom: 2px solid #402c83; }

.background_yellow p {
  color: #0f0f0f; }

.background_yellow a {
  color: #402c83; }
  .background_yellow a:focus, .background_yellow a:hover {
    color: #5c3fbc; }

.background_yellow .cta_button {
  background-color: #402c83;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_yellow .cta_button:focus, .background_yellow .cta_button:hover {
    background-color: #F8AE10; }
  .background_yellow .cta_button:focus, .background_yellow .cta_button:hover a {
    color: #402c83; }

.cta_button a {
  color: #F8AE10; }

.background_yellow .product_image img {
  border: 5px #402c83 solid; }

.background_yellow .product_title {
  color: #402c83; }

.background_yellow .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #402c83; }

.overlay_yellow .section_overlay {
  background-color: #F8AE10; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #0f0f0f; }

.background_yellow .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #402c83;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_yellow .cart_input.product_delete {
  border: 0px;
  color: #0f0f0f;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_yellow .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_yellow .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #402c83; }

.background_yellow input.cart_input:hover, .background_yellow input.cart_input:focus {
  color: #402c83; }

.background_yellow .cart {
  background: #402c83;
  color: #F8AE10; }

.background_yellow .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_yellow .cart .product .product_image {
  height: 125px; }

.background_yellow .cart .product .product_title {
  color: #F8AE10; }

.background_yellow .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #F8AE10; }

.background_yellow .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_yellow .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #F8AE10; }

.background_yellow .lower_button_cta {
  float: right;
  background-color: #402c83;
  color: #F8AE10;
  padding: 25px;
  width: 70%; }

.background_yellow .lower_button_cta a {
  color: #242b32; }

.background_yellow.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #fce0a5 0%, #F8AE10 100%); }

.background_yellow .tag_icons {
  font-size: 36px;
  position: relative;
  color: #0f0f0f;
  transition: opacity 0.25s, color 0.25s; }

.background_yellow .tag_icon {
  margin-right: 25px; }

.background_yellow .tag_icon:hover {
  color: #371b95; }

.background_yellow .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #F8AE10;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_yellow .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_green {
  background-color: #288041;
  color: #f0f0f0; }

.background_green .section_title {
  border-bottom: 2px solid #BC2E39; }

.background_green p {
  color: #0f0f0f; }

.background_green a {
  color: #BC2E39; }
  .background_green a:focus, .background_green a:hover {
    color: #d85f68; }

.background_green .cta_button {
  background-color: #BC2E39;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_green .cta_button:focus, .background_green .cta_button:hover {
    background-color: #288041; }
  .background_green .cta_button:focus, .background_green .cta_button:hover a {
    color: #BC2E39; }

.cta_button a {
  color: #288041; }

.background_green .product_image img {
  border: 5px #BC2E39 solid; }

.background_green .product_title {
  color: #BC2E39; }

.background_green .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #BC2E39; }

.overlay_green .section_overlay {
  background-color: #288041; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_green .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #BC2E39;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_green .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_green .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_green .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #BC2E39; }

.background_green input.cart_input:hover, .background_green input.cart_input:focus {
  color: #BC2E39; }

.background_green .cart {
  background: #BC2E39;
  color: #288041; }

.background_green .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_green .cart .product .product_image {
  height: 125px; }

.background_green .cart .product .product_title {
  color: #288041; }

.background_green .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #288041; }

.background_green .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_green .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #288041; }

.background_green .lower_button_cta {
  float: right;
  background-color: #BC2E39;
  color: #288041;
  padding: 25px;
  width: 70%; }

.background_green .lower_button_cta a {
  color: #242b32; }

.background_green.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #6fd28b 0%, #288041 100%); }

.background_green .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_green .tag_icon {
  margin-right: 25px; }

.background_green .tag_icon:hover {
  color: #d31725; }

.background_green .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #288041;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_green .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_purple {
  background-color: #78227e;
  color: #f0f0f0; }

.background_purple .section_title {
  border-bottom: 2px solid #459cd6; }

.background_purple p {
  color: #0f0f0f; }

.background_purple a {
  color: #459cd6; }
  .background_purple a:focus, .background_purple a:hover {
    color: #84bde4; }

.background_purple .cta_button {
  background-color: #459cd6;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_purple .cta_button:focus, .background_purple .cta_button:hover {
    background-color: #78227e; }
  .background_purple .cta_button:focus, .background_purple .cta_button:hover a {
    color: #459cd6; }

.cta_button a {
  color: #78227e; }

.background_purple .product_image img {
  border: 5px #459cd6 solid; }

.background_purple .product_title {
  color: #459cd6; }

.background_purple .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #459cd6; }

.overlay_purple .section_overlay {
  background-color: #78227e; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_purple .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #459cd6;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_purple .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_purple .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_purple .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #459cd6; }

.background_purple input.cart_input:hover, .background_purple input.cart_input:focus {
  color: #459cd6; }

.background_purple .cart {
  background: #459cd6;
  color: #78227e; }

.background_purple .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_purple .cart .product .product_image {
  height: 125px; }

.background_purple .cart .product .product_title {
  color: #78227e; }

.background_purple .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #78227e; }

.background_purple .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_purple .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #78227e; }

.background_purple .lower_button_cta {
  float: right;
  background-color: #459cd6;
  color: #78227e;
  padding: 25px;
  width: 70%; }

.background_purple .lower_button_cta a {
  color: #242b32; }

.background_purple.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #ce64d5 0%, #78227e 100%); }

.background_purple .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_purple .tag_icon {
  margin-right: 25px; }

.background_purple .tag_icon:hover {
  color: #2ea1ed; }

.background_purple .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #78227e;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_purple .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_blue {
  background-color: #459cd6;
  color: #f0f0f0; }

.background_blue .section_title {
  border-bottom: 2px solid #EC6A54; }

.background_blue p {
  color: #0f0f0f; }

.background_blue a {
  color: #EC6A54; }
  .background_blue a:focus, .background_blue a:hover {
    color: #f4a699; }

.background_blue .cta_button {
  background-color: #EC6A54;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_blue .cta_button:focus, .background_blue .cta_button:hover {
    background-color: #459cd6; }
  .background_blue .cta_button:focus, .background_blue .cta_button:hover a {
    color: #EC6A54; }

.cta_button a {
  color: #459cd6; }

.background_blue .product_image img {
  border: 5px #EC6A54 solid; }

.background_blue .product_title {
  color: #EC6A54; }

.background_blue .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #EC6A54; }

.overlay_blue .section_overlay {
  background-color: #459cd6; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_blue .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #EC6A54;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_blue .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_blue .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_blue .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #EC6A54; }

.background_blue input.cart_input:hover, .background_blue input.cart_input:focus {
  color: #EC6A54; }

.background_blue .cart {
  background: #EC6A54;
  color: #459cd6; }

.background_blue .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_blue .cart .product .product_image {
  height: 125px; }

.background_blue .cart .product .product_title {
  color: #459cd6; }

.background_blue .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #459cd6; }

.background_blue .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_blue .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #459cd6; }

.background_blue .lower_button_cta {
  float: right;
  background-color: #EC6A54;
  color: #459cd6;
  padding: 25px;
  width: 70%; }

.background_blue .lower_button_cta a {
  color: #242b32; }

.background_blue.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #c2dff2 0%, #459cd6 100%); }

.background_blue .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_blue .tag_icon {
  margin-right: 25px; }

.background_blue .tag_icon:hover {
  color: #ff5d41; }

.background_blue .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #459cd6;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_blue .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_black {
  background-color: #0f0f0f;
  color: #F8AE10; }

.background_black .section_title {
  border-bottom: 2px solid #BC2E39; }

.background_black p {
  color: #0f0f0f; }

.background_black a {
  color: #BC2E39; }
  .background_black a:focus, .background_black a:hover {
    color: #d85f68; }

.background_black .cta_button {
  background-color: #BC2E39;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_black .cta_button:focus, .background_black .cta_button:hover {
    background-color: #0f0f0f; }
  .background_black .cta_button:focus, .background_black .cta_button:hover a {
    color: #BC2E39; }

.cta_button a {
  color: #0f0f0f; }

.background_black .product_image img {
  border: 5px #BC2E39 solid; }

.background_black .product_title {
  color: #BC2E39; }

.background_black .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #BC2E39; }

.overlay_black .section_overlay {
  background-color: #0f0f0f; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #F8AE10; }

.background_black .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #BC2E39;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_black .cart_input.product_delete {
  border: 0px;
  color: #F8AE10;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_black .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_black .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #BC2E39; }

.background_black input.cart_input:hover, .background_black input.cart_input:focus {
  color: #BC2E39; }

.background_black .cart {
  background: #BC2E39;
  color: #0f0f0f; }

.background_black .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_black .cart .product .product_image {
  height: 125px; }

.background_black .cart .product .product_title {
  color: #0f0f0f; }

.background_black .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #0f0f0f; }

.background_black .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_black .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #0f0f0f; }

.background_black .lower_button_cta {
  float: right;
  background-color: #BC2E39;
  color: #0f0f0f;
  padding: 25px;
  width: 70%; }

.background_black .lower_button_cta a {
  color: #242b32; }

.background_black.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #5c5c5c 0%, #0f0f0f 100%); }

.background_black .tag_icons {
  font-size: 36px;
  position: relative;
  color: #F8AE10;
  transition: opacity 0.25s, color 0.25s; }

.background_black .tag_icon {
  margin-right: 25px; }

.background_black .tag_icon:hover {
  color: #d31725; }

.background_black .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #0f0f0f;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_black .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_white_indigo {
  background-color: #f0f0f0;
  color: #402c83; }

.background_white_indigo .section_title {
  border-bottom: 2px solid #F8AE10; }

.background_white_indigo p {
  color: #0f0f0f; }

.background_white_indigo a {
  color: #F8AE10; }
  .background_white_indigo a:focus, .background_white_indigo a:hover {
    color: #fac75a; }

.background_white_indigo .cta_button {
  background-color: #F8AE10;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_white_indigo .cta_button:focus, .background_white_indigo .cta_button:hover {
    background-color: #f0f0f0; }
  .background_white_indigo .cta_button:focus, .background_white_indigo .cta_button:hover a {
    color: #F8AE10; }

.cta_button a {
  color: #f0f0f0; }

.background_white_indigo .product_image img {
  border: 5px #F8AE10 solid; }

.background_white_indigo .product_title {
  color: #F8AE10; }

.background_white_indigo .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #F8AE10; }

.overlay_white_indigo .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #402c83; }

.background_white_indigo .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #F8AE10;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_white_indigo .cart_input.product_delete {
  border: 0px;
  color: #402c83;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_white_indigo .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_white_indigo .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #F8AE10; }

.background_white_indigo input.cart_input:hover, .background_white_indigo input.cart_input:focus {
  color: #F8AE10; }

.background_white_indigo .cart {
  background: #F8AE10;
  color: #f0f0f0; }

.background_white_indigo .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_white_indigo .cart .product .product_image {
  height: 125px; }

.background_white_indigo .cart .product .product_title {
  color: #f0f0f0; }

.background_white_indigo .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #f0f0f0; }

.background_white_indigo .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_white_indigo .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #f0f0f0; }

.background_white_indigo .lower_button_cta {
  float: right;
  background-color: #F8AE10;
  color: #f0f0f0;
  padding: 25px;
  width: 70%; }

.background_white_indigo .lower_button_cta a {
  color: #242b32; }

.background_white_indigo.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, white 0%, #f0f0f0 100%); }

.background_white_indigo .tag_icons {
  font-size: 36px;
  position: relative;
  color: #402c83;
  transition: opacity 0.25s, color 0.25s; }

.background_white_indigo .tag_icon {
  margin-right: 25px; }

.background_white_indigo .tag_icon:hover {
  color: #ffb109; }

.background_white_indigo .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_white_indigo .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_white_red {
  background-color: #f0f0f0;
  color: #BC2E39; }

.background_white_red .section_title {
  border-bottom: 2px solid #F8AE10; }

.background_white_red p {
  color: #0f0f0f; }

.background_white_red a {
  color: #F8AE10; }
  .background_white_red a:focus, .background_white_red a:hover {
    color: #fac75a; }

.background_white_red .cta_button {
  background-color: #F8AE10;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_white_red .cta_button:focus, .background_white_red .cta_button:hover {
    background-color: #f0f0f0; }
  .background_white_red .cta_button:focus, .background_white_red .cta_button:hover a {
    color: #F8AE10; }

.cta_button a {
  color: #f0f0f0; }

.background_white_red .product_image img {
  border: 5px #F8AE10 solid; }

.background_white_red .product_title {
  color: #F8AE10; }

.background_white_red .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #F8AE10; }

.overlay_white_red .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #BC2E39; }

.background_white_red .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #F8AE10;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_white_red .cart_input.product_delete {
  border: 0px;
  color: #BC2E39;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_white_red .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_white_red .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #F8AE10; }

.background_white_red input.cart_input:hover, .background_white_red input.cart_input:focus {
  color: #F8AE10; }

.background_white_red .cart {
  background: #F8AE10;
  color: #f0f0f0; }

.background_white_red .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_white_red .cart .product .product_image {
  height: 125px; }

.background_white_red .cart .product .product_title {
  color: #f0f0f0; }

.background_white_red .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #f0f0f0; }

.background_white_red .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_white_red .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #f0f0f0; }

.background_white_red .lower_button_cta {
  float: right;
  background-color: #F8AE10;
  color: #f0f0f0;
  padding: 25px;
  width: 70%; }

.background_white_red .lower_button_cta a {
  color: #242b32; }

.background_white_red.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, white 0%, #f0f0f0 100%); }

.background_white_red .tag_icons {
  font-size: 36px;
  position: relative;
  color: #BC2E39;
  transition: opacity 0.25s, color 0.25s; }

.background_white_red .tag_icon {
  margin-right: 25px; }

.background_white_red .tag_icon:hover {
  color: #ffb109; }

.background_white_red .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_white_red .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_grey_yellow {
  background-color: #242b32;
  color: #F8AE10; }

.background_grey_yellow .section_title {
  border-bottom: 2px solid #402c83; }

.background_grey_yellow p {
  color: #f0f0f0; }

.background_grey_yellow a {
  color: #402c83; }
  .background_grey_yellow a:focus, .background_grey_yellow a:hover {
    color: #5c3fbc; }

.background_grey_yellow .cta_button {
  background-color: #402c83;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_grey_yellow .cta_button:focus, .background_grey_yellow .cta_button:hover {
    background-color: #242b32; }
  .background_grey_yellow .cta_button:focus, .background_grey_yellow .cta_button:hover a {
    color: #402c83; }

.cta_button a {
  color: #242b32; }

.background_grey_yellow .product_image img {
  border: 5px #402c83 solid; }

.background_grey_yellow .product_title {
  color: #402c83; }

.background_grey_yellow .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #402c83; }

.overlay_grey_yellow .section_overlay {
  background-color: #242b32; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #F8AE10; }

.background_grey_yellow .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #402c83;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_grey_yellow .cart_input.product_delete {
  border: 0px;
  color: #F8AE10;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_grey_yellow .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_grey_yellow .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #402c83; }

.background_grey_yellow input.cart_input:hover, .background_grey_yellow input.cart_input:focus {
  color: #402c83; }

.background_grey_yellow .cart {
  background: #402c83;
  color: #242b32; }

.background_grey_yellow .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_grey_yellow .cart .product .product_image {
  height: 125px; }

.background_grey_yellow .cart .product .product_title {
  color: #242b32; }

.background_grey_yellow .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #242b32; }

.background_grey_yellow .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_grey_yellow .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #242b32; }

.background_grey_yellow .lower_button_cta {
  float: right;
  background-color: #402c83;
  color: #242b32;
  padding: 25px;
  width: 70%; }

.background_grey_yellow .lower_button_cta a {
  color: #242b32; }

.background_grey_yellow.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #64788b 0%, #242b32 100%); }

.background_grey_yellow .tag_icons {
  font-size: 36px;
  position: relative;
  color: #F8AE10;
  transition: opacity 0.25s, color 0.25s; }

.background_grey_yellow .tag_icon {
  margin-right: 25px; }

.background_grey_yellow .tag_icon:hover {
  color: #371b95; }

.background_grey_yellow .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #242b32;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_grey_yellow .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_dark_grey {
  background-color: #242b32;
  color: #F8AE10; }

.background_dark_grey .section_title {
  border-bottom: 2px solid #BC2E39; }

.background_dark_grey p {
  color: #f0f0f0; }

.background_dark_grey a {
  color: #BC2E39; }
  .background_dark_grey a:focus, .background_dark_grey a:hover {
    color: #d85f68; }

.background_dark_grey .cta_button {
  background-color: #BC2E39;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_dark_grey .cta_button:focus, .background_dark_grey .cta_button:hover {
    background-color: #242b32; }
  .background_dark_grey .cta_button:focus, .background_dark_grey .cta_button:hover a {
    color: #BC2E39; }

.cta_button a {
  color: #242b32; }

.background_dark_grey .product_image img {
  border: 5px #BC2E39 solid; }

.background_dark_grey .product_title {
  color: #BC2E39; }

.background_dark_grey .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #BC2E39; }

.overlay_dark_grey .section_overlay {
  background-color: #242b32; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #F8AE10; }

.background_dark_grey .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #BC2E39;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_dark_grey .cart_input.product_delete {
  border: 0px;
  color: #F8AE10;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_dark_grey .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_dark_grey .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #BC2E39; }

.background_dark_grey input.cart_input:hover, .background_dark_grey input.cart_input:focus {
  color: #BC2E39; }

.background_dark_grey .cart {
  background: #BC2E39;
  color: #242b32; }

.background_dark_grey .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_dark_grey .cart .product .product_image {
  height: 125px; }

.background_dark_grey .cart .product .product_title {
  color: #242b32; }

.background_dark_grey .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #242b32; }

.background_dark_grey .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_dark_grey .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #242b32; }

.background_dark_grey .lower_button_cta {
  float: right;
  background-color: #BC2E39;
  color: #242b32;
  padding: 25px;
  width: 70%; }

.background_dark_grey .lower_button_cta a {
  color: #242b32; }

.background_dark_grey.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #64788b 0%, #242b32 100%); }

.background_dark_grey .tag_icons {
  font-size: 36px;
  position: relative;
  color: #F8AE10;
  transition: opacity 0.25s, color 0.25s; }

.background_dark_grey .tag_icon {
  margin-right: 25px; }

.background_dark_grey .tag_icon:hover {
  color: #d31725; }

.background_dark_grey .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #242b32;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_dark_grey .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_pink {
  background-color: #EC6A54;
  color: #0f0f0f; }

.background_pink .section_title {
  border-bottom: 2px solid #288041; }

.background_pink p {
  color: #0f0f0f; }

.background_pink a {
  color: #288041; }
  .background_pink a:focus, .background_pink a:hover {
    color: #3aba5f; }

.background_pink .cta_button {
  background-color: #288041;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_pink .cta_button:focus, .background_pink .cta_button:hover {
    background-color: #EC6A54; }
  .background_pink .cta_button:focus, .background_pink .cta_button:hover a {
    color: #288041; }

.cta_button a {
  color: #EC6A54; }

.background_pink .product_image img {
  border: 5px #288041 solid; }

.background_pink .product_title {
  color: #288041; }

.background_pink .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #288041; }

.overlay_pink .section_overlay {
  background-color: #EC6A54; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #0f0f0f; }

.background_pink .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #288041;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_pink .cart_input.product_delete {
  border: 0px;
  color: #0f0f0f;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_pink .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_pink .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #288041; }

.background_pink input.cart_input:hover, .background_pink input.cart_input:focus {
  color: #288041; }

.background_pink .cart {
  background: #288041;
  color: #EC6A54; }

.background_pink .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_pink .cart .product .product_image {
  height: 125px; }

.background_pink .cart .product .product_title {
  color: #EC6A54; }

.background_pink .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #EC6A54; }

.background_pink .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_pink .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #EC6A54; }

.background_pink .lower_button_cta {
  float: right;
  background-color: #288041;
  color: #EC6A54;
  padding: 25px;
  width: 70%; }

.background_pink .lower_button_cta a {
  color: #242b32; }

.background_pink.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #fbe2de 0%, #EC6A54 100%); }

.background_pink .tag_icons {
  font-size: 36px;
  position: relative;
  color: #0f0f0f;
  transition: opacity 0.25s, color 0.25s; }

.background_pink .tag_icon {
  margin-right: 25px; }

.background_pink .tag_icon:hover {
  color: #17913a; }

.background_pink .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #EC6A54;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_pink .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_highlight {
  background-color: #F8AE10;
  color: #0f0f0f; }

.background_highlight .section_title {
  border-bottom: 2px solid #242b32; }

.background_highlight p {
  color: #0f0f0f; }

.background_highlight a {
  color: #242b32; }
  .background_highlight a:focus, .background_highlight a:hover {
    color: #44515e; }

.background_highlight .cta_button {
  background-color: #242b32;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_highlight .cta_button:focus, .background_highlight .cta_button:hover {
    background-color: #F8AE10; }
  .background_highlight .cta_button:focus, .background_highlight .cta_button:hover a {
    color: #242b32; }

.cta_button a {
  color: #F8AE10; }

.background_highlight .product_image img {
  border: 5px #242b32 solid; }

.background_highlight .product_title {
  color: #242b32; }

.background_highlight .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #242b32; }

.overlay_highlight .section_overlay {
  background-color: #F8AE10; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #0f0f0f; }

.background_highlight .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #242b32;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_highlight .cart_input.product_delete {
  border: 0px;
  color: #0f0f0f;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_highlight .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_highlight .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #242b32; }

.background_highlight input.cart_input:hover, .background_highlight input.cart_input:focus {
  color: #242b32; }

.background_highlight .cart {
  background: #242b32;
  color: #F8AE10; }

.background_highlight .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_highlight .cart .product .product_image {
  height: 125px; }

.background_highlight .cart .product .product_title {
  color: #F8AE10; }

.background_highlight .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #F8AE10; }

.background_highlight .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_highlight .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #F8AE10; }

.background_highlight .lower_button_cta {
  float: right;
  background-color: #242b32;
  color: #F8AE10;
  padding: 25px;
  width: 70%; }

.background_highlight .lower_button_cta a {
  color: #242b32; }

.background_highlight.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #fce0a5 0%, #F8AE10 100%); }

.background_highlight .tag_icons {
  font-size: 36px;
  position: relative;
  color: #0f0f0f;
  transition: opacity 0.25s, color 0.25s; }

.background_highlight .tag_icon {
  margin-right: 25px; }

.background_highlight .tag_icon:hover {
  color: #1b2b3b; }

.background_highlight .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #F8AE10;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_highlight .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_primary {
  background-color: #242b32;
  color: #f0f0f0; }

.background_primary .section_title {
  border-bottom: 2px solid #F8AE10; }

.background_primary p {
  color: #0f0f0f; }

.background_primary a {
  color: #F8AE10; }
  .background_primary a:focus, .background_primary a:hover {
    color: #fac75a; }

.background_primary .cta_button {
  background-color: #F8AE10;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_primary .cta_button:focus, .background_primary .cta_button:hover {
    background-color: #242b32; }
  .background_primary .cta_button:focus, .background_primary .cta_button:hover a {
    color: #F8AE10; }

.cta_button a {
  color: #242b32; }

.background_primary .product_image img {
  border: 5px #F8AE10 solid; }

.background_primary .product_title {
  color: #F8AE10; }

.background_primary .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #F8AE10; }

.overlay_primary .section_overlay {
  background-color: #242b32; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_primary .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #F8AE10;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_primary .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_primary .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_primary .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #F8AE10; }

.background_primary input.cart_input:hover, .background_primary input.cart_input:focus {
  color: #F8AE10; }

.background_primary .cart {
  background: #F8AE10;
  color: #242b32; }

.background_primary .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_primary .cart .product .product_image {
  height: 125px; }

.background_primary .cart .product .product_title {
  color: #242b32; }

.background_primary .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #242b32; }

.background_primary .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_primary .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #242b32; }

.background_primary .lower_button_cta {
  float: right;
  background-color: #F8AE10;
  color: #242b32;
  padding: 25px;
  width: 70%; }

.background_primary .lower_button_cta a {
  color: #242b32; }

.background_primary.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #64788b 0%, #242b32 100%); }

.background_primary .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_primary .tag_icon {
  margin-right: 25px; }

.background_primary .tag_icon:hover {
  color: #ffb109; }

.background_primary .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #242b32;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_primary .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_tertiary {
  background-color: #f0f0f0;
  color: #F8AE10; }

.background_tertiary .section_title {
  border-bottom: 2px solid #68ceeb; }

.background_tertiary p {
  color: #0f0f0f; }

.background_tertiary a {
  color: #68ceeb; }
  .background_tertiary a:focus, .background_tertiary a:hover {
    color: #ace4f4; }

.background_tertiary .cta_button {
  background-color: #68ceeb;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_tertiary .cta_button:focus, .background_tertiary .cta_button:hover {
    background-color: #f0f0f0; }
  .background_tertiary .cta_button:focus, .background_tertiary .cta_button:hover a {
    color: #68ceeb; }

.cta_button a {
  color: #f0f0f0; }

.background_tertiary .product_image img {
  border: 5px #68ceeb solid; }

.background_tertiary .product_title {
  color: #68ceeb; }

.background_tertiary .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #68ceeb; }

.overlay_tertiary .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #F8AE10; }

.background_tertiary .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #68ceeb;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_tertiary .cart_input.product_delete {
  border: 0px;
  color: #F8AE10;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_tertiary .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_tertiary .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #68ceeb; }

.background_tertiary input.cart_input:hover, .background_tertiary input.cart_input:focus {
  color: #68ceeb; }

.background_tertiary .cart {
  background: #68ceeb;
  color: #f0f0f0; }

.background_tertiary .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_tertiary .cart .product .product_image {
  height: 125px; }

.background_tertiary .cart .product .product_title {
  color: #f0f0f0; }

.background_tertiary .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #f0f0f0; }

.background_tertiary .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_tertiary .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #f0f0f0; }

.background_tertiary .lower_button_cta {
  float: right;
  background-color: #68ceeb;
  color: #f0f0f0;
  padding: 25px;
  width: 70%; }

.background_tertiary .lower_button_cta a {
  color: #242b32; }

.background_tertiary.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, white 0%, #f0f0f0 100%); }

.background_tertiary .tag_icons {
  font-size: 36px;
  position: relative;
  color: #F8AE10;
  transition: opacity 0.25s, color 0.25s; }

.background_tertiary .tag_icon {
  margin-right: 25px; }

.background_tertiary .tag_icon:hover {
  color: #57d8fc; }

.background_tertiary .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_tertiary .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_secondary {
  background-color: #68ceeb;
  color: #f0f0f0; }

.background_secondary .section_title {
  border-bottom: 2px solid #F8AE10; }

.background_secondary p {
  color: #0f0f0f; }

.background_secondary a {
  color: #F8AE10; }
  .background_secondary a:focus, .background_secondary a:hover {
    color: #fac75a; }

.background_secondary .cta_button {
  background-color: #F8AE10;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_secondary .cta_button:focus, .background_secondary .cta_button:hover {
    background-color: #68ceeb; }
  .background_secondary .cta_button:focus, .background_secondary .cta_button:hover a {
    color: #F8AE10; }

.cta_button a {
  color: #68ceeb; }

.background_secondary .product_image img {
  border: 5px #F8AE10 solid; }

.background_secondary .product_title {
  color: #F8AE10; }

.background_secondary .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #F8AE10; }

.overlay_secondary .section_overlay {
  background-color: #68ceeb; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.background_secondary .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #F8AE10;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_secondary .cart_input.product_delete {
  border: 0px;
  color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_secondary .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_secondary .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #F8AE10; }

.background_secondary input.cart_input:hover, .background_secondary input.cart_input:focus {
  color: #F8AE10; }

.background_secondary .cart {
  background: #F8AE10;
  color: #68ceeb; }

.background_secondary .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_secondary .cart .product .product_image {
  height: 125px; }

.background_secondary .cart .product .product_title {
  color: #68ceeb; }

.background_secondary .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #68ceeb; }

.background_secondary .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_secondary .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #68ceeb; }

.background_secondary .lower_button_cta {
  float: right;
  background-color: #F8AE10;
  color: #68ceeb;
  padding: 25px;
  width: 70%; }

.background_secondary .lower_button_cta a {
  color: #242b32; }

.background_secondary.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, #effafd 0%, #68ceeb 100%); }

.background_secondary .tag_icons {
  font-size: 36px;
  position: relative;
  color: #f0f0f0;
  transition: opacity 0.25s, color 0.25s; }

.background_secondary .tag_icon {
  margin-right: 25px; }

.background_secondary .tag_icon:hover {
  color: #ffb109; }

.background_secondary .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #68ceeb;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_secondary .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_white {
  background-color: #f0f0f0;
  color: #402c83; }

.background_white .section_title {
  border-bottom: 2px solid #BC2E39; }

.background_white p {
  color: #0f0f0f; }

.background_white a {
  color: #BC2E39; }
  .background_white a:focus, .background_white a:hover {
    color: #d85f68; }

.background_white .cta_button {
  background-color: #BC2E39;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'cabinitalic';
  transition: color 0.25s, background-color 0.25s; }
  .background_white .cta_button:focus, .background_white .cta_button:hover {
    background-color: #f0f0f0; }
  .background_white .cta_button:focus, .background_white .cta_button:hover a {
    color: #BC2E39; }

.cta_button a {
  color: #f0f0f0; }

.background_white .product_image img {
  border: 5px #BC2E39 solid; }

.background_white .product_title {
  color: #BC2E39; }

.background_white .product_price {
  font-family: 'nexa_boldregular';
  font-size: 2em;
  color: #BC2E39; }

.overlay_white .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #402c83; }

.background_white .cart_input {
  font-family: FontAwesome;
  color: transparent;
  border: 3px solid #BC2E39;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_white .cart_input.product_delete {
  border: 0px;
  color: #402c83;
  padding: 0px;
  margin: 0px;
  font-family: 'open_sansregular'; }

.background_white .cart_number_check {
  border: 3px solid #242b32;
  font-family: FontAwesome;
  color: transparent;
  background: transparent;
  font-size: 1em;
  transition: color 0.25s;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px 3px; }

.background_white .cart_input.cart_checked {
  font-family: FontAwesome;
  color: #BC2E39; }

.background_white input.cart_input:hover, .background_white input.cart_input:focus {
  color: #BC2E39; }

.background_white .cart {
  background: #BC2E39;
  color: #f0f0f0; }

.background_white .cart .product {
  text-align: center;
  padding: 25px;
  display: inline-block;
  width: auto; }

.cart .basket_open {
  float: right; }

.background_white .cart .product .product_image {
  height: 125px; }

.background_white .cart .product .product_title {
  color: #f0f0f0; }

.background_white .cart .product .product_price {
  font-family: 'nexa_boldregular';
  color: #f0f0f0; }

.background_white .product .cart_number {
  margin-top: 25px;
  width: 35px;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-left: 5px; }

.background_white .cart .product img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #f0f0f0; }

.background_white .lower_button_cta {
  float: right;
  background-color: #BC2E39;
  color: #f0f0f0;
  padding: 25px;
  width: 70%; }

.background_white .lower_button_cta a {
  color: #242b32; }

.background_white.background_gradient.background_spotted {
  background-image: url("img/spotted_background.png"), radial-gradient(ellipse at center, white 0%, #f0f0f0 100%); }

.background_white .tag_icons {
  font-size: 36px;
  position: relative;
  color: #402c83;
  transition: opacity 0.25s, color 0.25s; }

.background_white .tag_icon {
  margin-right: 25px; }

.background_white .tag_icon:hover {
  color: #d31725; }

.background_white .tag_icons .icon_tag_text {
  font-size: 12px;
  opacity: 0;
  top: 0;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transition: opacity 0.25s, color 0.25s;
  font-family: 'open_sanslight'; }

.background_white .tag_icons .tag_icon:hover .icon_tag_text {
  font-size: 12px;
  opacity: 1; }

.background_tertiary .product_description {
  color: #f0f0f0; }

#map {
  height: 235px;
  width: 100%; }

/*------------------------------------*\
fonts
\*------------------------------------*/
@font-face {
  font-family: 'nexa_rust_slabblack_shadow_01';
  src: url("fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot");
  src: url("fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2") format("woff2"), url("fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff") format("woff"), url("fonts/NexaRustSlab-BlackShadow01-Free-webfont.ttf") format("truetype"), url("fonts/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'burfordrusticbookregular_2';
  src: url("fonts/burfordrusticbook-regular2-webfont.woff2") format("woff2"), url("fonts/burfordrusticbook-regular2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'burfordrusticbookregular';
  src: url("fonts/burfordrusticbook-regular3-webfont.woff2") format("woff2"), url("fonts/burfordrusticbook-regular3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'santelia_rough_altbold_thrdmo';
  src: url("fonts/santeliaroughaltboldthrdemo-webfont.woff2") format("woff2"), url("fonts/santeliaroughaltboldthrdemo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'santelia_scriptbold_dmo';
  src: url("fonts/santeliascriptbolddemo-webfont.woff2") format("woff2"), url("fonts/santeliascriptbolddemo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'milkshakeregular';
  src: url("fonts/milkshake-webfont.woff2") format("woff2"), url("fonts/milkshake-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 2, 2016 */
@font-face {
  font-family: 'open_sansbold';
  src: url("fonts/opensans-bold-webfont.woff2") format("woff2"), url("fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansitalic';
  src: url("fonts/opensans-italic-webfont.woff2") format("woff2"), url("fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?i7q0ib");
  src: url("fonts/icomoon.eot?i7q0ib#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?i7q0ib") format("truetype"), url("fonts/icomoon.woff?i7q0ib") format("woff"), url("fonts/icomoon.svg?i7q0ib#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'nexa_boldregular';
  src: url("fonts/nexa_free_bold-webfont.woff2") format("woff2"), url("fonts/nexa_free_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cabinmedium';
  src: url("fonts/cabin-medium-webfont.woff2") format("woff2"), url("fonts/cabin-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cabinitalic';
  src: url("fonts/cabin-italic-webfont.woff2") format("woff2"), url("fonts/cabin-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-gluten:before {
  content: "\e900"; }

.icon-lactose_free:before {
  content: "\e901"; }

.icon-vegan:before {
  content: "\e902"; }

.icon-vegetarian:before {
  content: "\e903"; }

body {
  max-width: 100%;
  overflow-x: hidden; }

p {
  font-family: 'source_sans_proregular'; }

p em {
  font-family: 'cabinitalic'; }

p strong {
  font-family: 'cabinitalic'; }

h1, h2, h3 {
  font-family: 'nexa_boldregular'; }

h1 {
  font-size: 10em; }

h2 {
  font-size: 6em;
  display: inline-block; }

h2::first-letter {
  margin-left: -5px; }

.test_scroll {
  transition: text-shadow 0.25s, color 0.25s; }

a.test_scroll.link_active {
  text-shadow: 0px 0px 2px white;
  color: #F8AE10; }

.orient_center div.wpcf7 {
  text-align: center; }

.orient_center .section_title {
  text-align: center; }

.category_waypoint_active .category_title.section_title {
  position: fixed;
  top: 0; }

.category_waypoint_active.orient_right .category_title.section_title {
  right: 15%; }

.category_waypoint_active.orient_left .category_title.section_title {
  left: 30%; }

.category_waypoint.orient_left .page_category_image {
  left: 30%; }

.category_waypoint.orient_right .page_category_image {
  right: 15%; }

.category_waypoint_active .page_category_image {
  opacity: 1; }

.waypoint .section_title {
  opacity: 0.5;
  transition: opacity 1s; }

.waypoint.waypoint_active .section_title {
  opacity: 1; }

/*
.category_waypoint_active{
border:3px solid blue !important;
}

.waypoint_active{
border:3px solid red !important;
}


.panel_test{
border: 3px solid green !important;
}
*/
.page_section_title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s 0.5s;
  text-align: center; }

.page_category_repeater_image {
  width: 75vw;
  height: 80vh;
  object-fit: contain; }

.page_category_interstitial {
  z-index: 500; }

.page_category_interstitial .section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  z-index: 500;
  flex-wrap: wrap; }

.section_long_description {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 5px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 5000;
  max-width: 800px; }

.description_container {
  width: 100%; }

.section_long_description.active {
  display: block;
  height: auto;
  opacity: 1; }

.vertical_align_middle .section_content {
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.category_waypoint_active .page_category_image {
  position: fixed;
  top: 0;
  display: block !important;
  width: 25%; }

.page_category_image {
  display: block;
  width: 25%;
  height: 85%;
  opacity: 1;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  z-index: 1; }

.page_category_video {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .25s;
  position: fixed;
  top: 0;
  z-index: 1;
  object-fit: contain;
  transition: filter 0.5s; }

.fade_grey {
  filter: saturate(0%); }

.fade_in_transparency {
  opacity: 1; }

.bg_fixed {
  opacity: 0.01;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: opacity 0.5s; }

.orient_left.bg_fixed {
  background-position: center; }

.orient_right.bg_fixed {
  background-position: right; }

.category_waypoint_active.bg_fixed {
  opacity: 1;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/*
.category_waypoint_bottom{
position:absolute;
bottom:0;
border:1px solid red !important;
width:50px;
height:50px;
}
*/
.clearfix {
  clear: both;
  width: 100%; }

.font_script {
  font-family: 'cabinitalic';
  margin-top: 0; }

.section_tagline {
  font-family: 'cabinitalic';
  font-size: 1.6em;
  width: 40vw;
  display: inline-block;
  margin-left: 25px; }

.overlay_half .section_tagline {
  width: auto; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.section_title {
  display: inline;
  width: 100%; }

.section_title h2 {
  margin-bottom: 25px;
  font-size: 3em;
  display: inline; }

.product {
  margin-bottom: 25px; }

.product_title {
  font-family: 'cabinitalic';
  font-size: 2em; }

.product_price {
  font-family: 'cabinitalic';
  font-size: 2em;
  margin-bottom: -10px; }

.product_price:before {
  content: '$'; }

.orient_left {
  text-align: left; }

.orient_left .section_content_text {
  float: right; }

.orient_right .section_content_text {
  float: left; }

.orient_right {
  text-align: right; }

.category {
  position: relative;
  width: 100%;
  float: right; }

.section {
  position: relative;
  width: 100%;
  float: right; }

.section_content {
  min-height: 100vh;
  width: 85%;
  left: 15%;
  z-index: 3;
  max-width: 100%;
  position: absolute;
  display: flex; }

.cta_button a:after {
  font-family: FontAwesome;
  content: " \f0a9"; }

.column_reverse {
  flex-direction: column-reverse;
  display: flex;
  height: calc(100vh - 250px); }

.lower_button_cta_container {
  width: 100%; }

.cta_text {
  font-family: 'cabinitalic'; }

.wpcf7 input {
  width: 90%;
  padding: 5px;
  margin: 10px; }

.wpcf7 label {
  display: none; }

.contact_form_name {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center; }

.contact_form_email {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center; }

.contact_form_message {
  width: 100%; }

.cakes .wpcf7, .contact .wpcf7 {
  background-color: transparent;
  color: #242b32;
  padding: 25px; }

.cakes .wpcf7 input {
  width: calc(35% - 10px);
  padding: 5px;
  margin-left: 20px; }

.contact .wpcf7 input {
  width: calc(35% - 10px);
  padding: 5px;
  margin-left: 15px; }

.cakes .wpcf7, .contact .wpcf7 {
  text-align: right; }

.cakes .wpcf7 textarea {
  width: 70%;
  padding: 10px;
  height: 200px;
  margin-right: -3px; }

.contact .wpcf7 textarea {
  width: 70%;
  padding: 10px;
  height: 200px;
  margin-right: 0px; }

.cakes .wpcf7 .bottom_bar {
  display: inline-block;
  background-color: #F8AE10;
  width: 70%;
  padding: 5px 25px;
  text-align: left; }

.cakes .wpcf7-submit, .contact .wpcf7-submit {
  font-family: "cabinitalic"; }

.cakes .wpcf7-submit:after {
  font-family: FontAwesome;
  content: '\f18e'; }

.cakes select.wpcf7-form-control.wpcf7-select {
  background-color: transparent;
  border: 0px;
  font-size: 1.0em;
  font-weight: bold;
  margin-right: 10px; }

.cakes label, .contact label {
  display: none; }

.cakes .wpcf7 br, .contact .wpcf7 br {
  display: none; }

.cakes .wpcf7 .bottom-bar select {
  display: inline-block; }

.section_content_main {
  width: 100%; }

.section_content_text {
  width: 100%;
  padding: 25px 0;
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0; }

.menu_content {
  max-width: 100%;
  margin: 0 auto; }

.menu_section {
  max-width: 15%;
  height: 100vh; }

.menu_section.sticky {
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2); }

.nav ul {
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px; }

.nav ul li {
  position: relative;
  font-family: 'nexa_boldregular'; }

.nav ul li:hover > ul {
  display: block;
  position: absolute;
  top: 45px;
  background-color: #44515e;
  z-index: 999; }

.sticky_bottom .nav ul li:hover > ul {
  display: block;
  position: absolute;
  bottom: 38px;
  background-color: #242b32;
  z-index: 2;
  top: initial; }

.sticky_bottom .nav ul li:hover > ul li {
  padding: 5px; }

.nav ul li ul li:nth-child(odd) {
  background-color: #2f3841; }

.nav ul li ul {
  padding: 0px; }

.nav ul li:hover > ul li {
  display: block; }

.nav ul.sub-menu li a {
  width: 100%; }

.nav ul li a {
  font-size: 15px; }

.nav .basket_link {
  float: right; }

.nav .basket_link a {
  color: #68ceeb;
  transition: color 0.25s, text-shadow 0.25s; }

.nav .basket_link.basket_active a {
  color: #F8AE10;
  text-shadow: 0px 0px 2px white; }

.nav_sub {
  height: 75px;
  width: 55%;
  left: 30%;
  position: fixed;
  bottom: 50px;
  z-index: 5000;
  display: flex;
  align-items: center; }

.nav_sub ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
  -webkit-padding-start: 0px; }

.nav_sub ul li {
  display: inline-block; }

.menu_section.sticky_bottom .menu-item-has-children > a:after {
  font-family: FontAwesome;
  content: ' \f0aa'; }

.sticky .menu-item-has-children > a:after {
  font-family: FontAwesome;
  content: ' \f0ab'; }

.section.section_overlay.overlay_half .section_overlay {
  width: 50%;
  height: 100%; }

.section.section_overlay.overlay_half .products {
  flex-direction: column; }

.section.section_overlay.overlay_half .products {
  flex-direction: column; }

.section.section_overlay.overlay_half.column .section_content_main {
  width: 100% !important; }

.section.section_overlay.overlay_half .section_content_main {
  width: 50%;
  display: inline-block;
  z-index: 4;
  padding: 25px; }

.section.section_overlay.overlay_half .product_image {
  height: 150px;
  width: 150px; }

.section.overlay_half .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; }

.section.overlay_half.orient_right .product {
  flex-direction: row-reverse; }

.section .product_image {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  text-align: center; }

.section .product_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  font-family: "object-fit: cover;"; }

.section_text {
  font-size: 1.3em; }

.section.feature .product_image img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  font-family: "object-fit: cover;"; }

.section.section_overlay.overlay_half.orient_right .product_image {
  float: right; }

.section.section_overlay.overlay_half.orient_left .product_image {
  float: left; }

.section.section_overlay .section_overlay {
  position: absolute; }

.section.section_overlay.overlay_full .section_overlay {
  width: 100%;
  height: 100%; }

.section.section_overlay.overlay_half_height .section_overlay {
  width: 100%;
  height: calc(100% - 50vh);
  bottom: 0; }

.section.section_overlay.overlay_half_height .section_content {
  padding-top: 50vh;
  min-height: initial;
  display: flex;
  z-index: 3;
  flex-direction: column-reverse; }

.section.section_overlay.overlay_half_height .section_content_main {
  height: 50%;
  width: 100%;
  bottom: 0;
  z-index: 5; }

.section.section_overlay.overlay_dark .section_overlay {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2; }

.section.section_overlay.orient_left .section_overlay {
  left: 0; }

.section.section_overlay.orient_right .section_overlay {
  right: 0; }

.section.orient_right .section_content {
  flex-direction: row-reverse; }

.section.section_overlay.overlay_half .product_details {
  width: calc(100% - 175px); }

.menu {
  text-align: center; }

.menu h3 {
  font-family: 'cabinitalic';
  font-size: 2em; }

.section.section_overlay.overlay_half .product_image img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.section .products {
  justify-content: space-between; }

.section .cart {
  justify-content: space-between;
  display: inline-block;
  width: 50vw;
  position: absolute;
  background-color: #F8AE10;
  right: 0;
  z-index: 10;
  padding: 0px;
  opacity: 0;
  transition: max-height 0.25s, padding 0.25s, opacity 0.25s;
  max-height: 0px;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75); }

.section .cart a {
  color: #242b32; }

.cart .cart_interior .product .product_description {
  display: none; }

.cart .cart_interior .product .product_tags {
  display: none; }

.cart input.cart_input {
  border-color: #242b32 !important; }

.cart input.cart_input:hover, .cart input.cart_input:focus {
  color: #242b32 !important; }

.cart_contact .wpcf7 input {
  min-width: 220px;
  margin: 0; }

.cart_contact input.wpcf7-form-control.wpcf7-submit.cart_send {
  background-color: #242b32;
  color: #F8AE10;
  margin-top: 20px;
  margin-bottom: 20px; }

.cart_contact textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%; }

.cart_contact input.wpcf7-form-control.wpcf7-submit.cart_send:hover {
  background-color: #f0f0f0;
  color: #68ceeb; }

.text_products {
  display: none; }

#text_products_list {
  display: none; }

.section_content.section_content_cart {
  flex-wrap: wrap; }

.cart .cart_interior {
  width: 100%;
  float: left;
  white-space: nowrap;
  overflow-x: auto; }

.cart_page.cart_interior {
  padding: 25px;
  width: 100%; }

.cart_page .go_to_basket {
  display: none; }

.cart_contact {
  width: 100%; }

.cart_interior img {
  height: 50px;
  width: calc(100% - 10px);
  margin: 0px 5px;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 0.25s; }

.cart_interior img:hover, .cart_interior img:focus {
  filter: grayscale(0); }

.cart_page.cart_interior .product {
  padding: 25px;
  width: 100%;
  display: block;
  background-color: #f0f0f0;
  margin-bottom: 0;
  overflow: auto; }

.cart_page.cart_interior .product:nth-child(2n) {
  background-color: #cacaca; }

.cart_page.cart_interior .product .product_image {
  float: left;
  width: 30%;
  margin-right: 25px; }

.cart_page.cart_interior .product .product_description {
  width: 70%;
  padding-left: 25px; }

.cart_page.cart_interior .product .product_ordering {
  float: right; }

.cart_page.cart_interior .price_total {
  float: right;
  font-family: nexa_boldregular;
  font-size: 2em;
  color: #333e48; }

.cart_page.cart_interior .cart_end {
  background-color: #fff;
  padding: 25px;
  overflow: auto; }

.section .cart.cart_open {
  justify-content: space-between;
  opacity: 1;
  max-height: 500px;
  padding: 25px;
  overflow: hidden; }

.sticky_bottom .section .cart.cart_open {
  top: -525px; }

.cart_updated {
  color: #f0f0f0 !important; }

.section.orient_center .section_text {
  text-align: center; }

.section.orient_center .product {
  text-align: center;
  width: 30%; }

.section.overlay_half .product {
  width: 100%; }

.section .product {
  width: 30%; }

.spotted_bg {
  background-image: url("img/spotted_background.png"); }

.bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.menu_section {
  position: fixed;
  bottom: 0;
  width: 20vw;
  height: 100vh;
  z-index: 10; }

.menu_section.sticky_bottom {
  position: fixed;
  bottom: 0;
  width: 20vw;
  height: 100vh;
  z-index: 10; }

.menu_section.sticky {
  top: auto; }

.header_logo {
  width: 250px;
  height: 250px; }

.header .section_content {
  flex-direction: column-reverse; }

.menu_section.sticky .header_home_logo_icon {
  opacity: 1;
  width: 100%;
  margin-bottom: 25px; }

.menu_section_mobile {
  display: none; }

.header_home_logo_icon {
  width: 100%;
  opacity: 0;
  height: 50px;
  margin-top: 4px;
  transition: width .5s,opacity .5s; }

.homepage_header {
  height: 75vh; }

.home_next {
  position: absolute;
  bottom: 15vh; }

.column-reverse .section_content {
  display: flex;
  flex-direction: column-reverse; }

.nav ul li a:hover, .nav ul li a:focus {
  padding: 5px 10px;
  display: inline-block;
  color: #F8AE10;
  background: transparent; }

.nav ul li a {
  color: #f0f0f0; }

footer {
  padding-left: 15%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display: flex; }

.footer_content {
  max-width: 65%;
  min-height: 200px;
  padding: 25px 0px;
  margin: 0 auto;
  width: 100%; }

.footer_links {
  margin-top: 25px; }

.footer_links span {
  font-size: 2em;
  margin-right: 25px; }

span.map {
  width: 100%;
  min-height: 300px;
  display: inline-block; }

input.wpcf7-form-control.wpcf7-submit {
  background-color: #F8AE10;
  border: 0;
  font-size: 20px;
  padding: 10px;
  transition: color 0.25s, background-color 0.25s; }

input.wpcf7-form-control.wpcf7-submit:hover, input.wpcf7-form-control.wpcf7-submit:focus {
  background-color: #f0f0f0;
  color: #F8AE10;
  border: 0;
  font-size: 20px;
  padding: 10px; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
@media (max-width: 768px) {
  body {
    max-width: 100%;
    overflow-x: hidden; }

  .menu_section.background_primary.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 10000;
    max-width: 100%;
    display: none; }

  .menu_section_mobile.sticky_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    z-index: 10000;
    max-width: 100%;
    display: flex;
    padding: 5px; }

  .page_category_interstitial .section {
    text-align: center; }

  .category {
    width: 100%; }

  .page_category_repeater_image {
    width: 100vw;
    height: 100vw;
    object-fit: contain; }

  .panel_test {
    padding-top: 0px; }

  .nav ul {
    padding: 12px 25px;
    display: block;
    justify-content: space-between;
    -webkit-padding-start: 0px; }

  .section_content_text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    color: white; }

  .section_title h2 {
    font-size: 1.5em;
    display: inline; }

  .section_content {
    width: 100%;
    padding: 0px;
    left: 0; }

  .nav_sub {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px; }

  .section.section_overlay.overlay_dark .section_overlay {
    width: 100%; }

  .section.section_overlay.overlay_half .section_content_main {
    width: 100%; }

  .section.section_overlay.overlay_half .product_image {
    height: 150px;
    width: 150px;
    float: none; }

  .section.overlay_half .product {
    display: inline-block; }

  .section.section_overlay.overlay_half .product_details {
    width: 100%;
    display: inline-block; }

  .section .products {
    flex-wrap: wrap; }

  .section.orient_center .product {
    width: 100vw; }

  .section .product {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

  .nav .basket_link {
    float: inherit; }

  .nav ul {
    text-align: center;
    padding: 0px 25px; }

  .nav ul li a {
    font-size: 10px;
    padding: 5px 3px; }

  .nav ul li a:focus, .nav ul li a:hover {
    padding: 5px 3px; }

  .menu_section.sticky .header_home_logo_icon {
    width: 30%;
    margin: 0 auto; }

  .section #map {
    width: 100%; }

  .section .cart {
    display: none;
    width: 100vw;
    background-color: #ffc60a;
    right: 0;
    z-index: 10; }

  .section .cart.cart_open {
    display: inline-block; }

  .section.section_overlay.overlay_half .section_overlay {
    width: 100%;
    height: 100%; }

  .section_tagline {
    width: 100%;
    margin-top: 25px; }

  .cart_interior {
    display: flex; }

  .cart_interior img {
    width: auto; }

  h2 {
    font-size: 10vw; }

  .section_content_text {
    height: calc(100% - 85px); }

  .section_long_description.active {
    margin-left: -25px;
    height: 60vh;
    overflow: auto; } }

/*# sourceMappingURL=style.css.map */
