/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto ($toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    SASS
\*------------------------------------*/
$padding_general: 25px;
$transition_time: 0.25s;
$orange: rgba(221, 82, 37, 1);
$dark_blue: rgba(81, 104, 108, 1);
$light_blue: rgba(169, 195, 190, 1);
$white: rgba(240, 240, 240, 1);
$black: rgba(15, 15, 15, 1);

$highlight: $orange;
$primary: $dark_blue;
$secondary: $light_blue;

$colors :
(highlight, $highlight, $white, $dark_blue),
(primary, $primary, $white, $orange),
(secondary, $secondary, $light_blue, $orange),
("white", $white, $black, $orange);



@import url("../fonts/stylesheet.css");

@each $name, $color, $color_secondary, $color_highlight in $colors {
  .background_#{$name} {
    background-color: $color;
    color: $color_secondary;
  }


  .background_#{$name} a {
    color: $color_highlight;
    &:focus,
    &:hover {
      color: lighten($color_highlight,15%);
    }
  }
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

.waypoint_loaded{
}

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;

}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
	height:100%;
}
body {
	font-family: 'source_sans_proregular';
	color:#444;
	height:100%;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}

.section img.cover{
  width:100%;
  height:100%;
  object-fit:cover;
  font-family: 'object-fit: cover;'
}


.section img.contain{
  width:100%;
  height:100%;
  object-fit:contain;
  font-family: 'object-fit: contain;'
}

a {
	color:#444;
	text-decoration:none;
	transition:color $transition_time, background $transition_time;
}
a:hover {
	color:#444;
	text-decoration:none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

h2{

font-family: 'lemonmilkregular';
}

.button, .wpcf7-submit{
min-height:50px;
padding:5px 25px;
font-size:2em;
border:0;
font-family: 'lemonmilkregular';
transition:color $transition_time, background $transition_time, box-shadow $transition_time;
}

.button:hover, .wpcf7-submit:hover{
box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

input.wpcf7-form-control.wpcf7-submit {
    background-color: $orange;
    border: 0;
    font-size: 20px;
	padding:10px;
}


.bg_cover{
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.bg_contain{
background-size:contain;
background-position:center;
background-repeat:no-repeat;
}


.menu_section.sticky{
position:fixed;
top:0;
z-index:5000;
width:100%;
background-color:$white;
}

.header_home_logo_icon{
width:0px;
opacity:0;
height:38px;
float:left;
transition:width 0.5s, opacity 0.5s;
}

.menu_section.sticky .header_home_logo_icon{
opacity:1;
width:150px;
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}

.test_content{
  height:500px;

}

.test_content:nth-child(odd){
background-color:grey;
}


.section{
width:100%;
}

.section_content{
max-width:1280px;
margin:0 auto;
padding:0 $padding_general;
overflow:auto;
}

.section_content_main{
	width:50%;
	display:inline-block;
}

.section_content_text{
	width:calc(100% - 145px);
	display:inline-block;
	padding:$padding_general;
	padding-bottom:100px;
}

.section_content_image{
	width:50%;
	padding:$padding_general;
	padding-right:0;
	display:inline-block;
	float:right;
}

.section_content_image img{
	object-fit:cover;
}

.section_content_ribbons{
	width:145px;
	display:inline-block;
	padding-bottom: 100px;
}

.section_content .section_content_main{
	float:left;
}

.section_content  .section_content_ribbons{
	float:left;
}

.section_content  .section_content_ribbons img{
	float:left;
}


.section_content.orient_right .section_content_main{
	float:right;
}

.section_content.orient_right  .section_content_ribbons{
	float:right;
}

.section_content.orient_right .section_content_image{
		padding-left:0;
		padding-right:$padding_general;
		float:left;
}

.section_content.orient_right .section_content_ribbons img{
		float:right;
}



/* header */
.header {

}

.header_home{
min-height:500px;
}

.header_home_logo{
height:300px;
width:300px;
float:right;
margin:0 $padding_general;
}

.header_home .button{
	float:right;
	clear:both;
	margin:$padding_general;
	margin-right:85px;
}

.header_home_stripes{
height:300px;
width:300px;
float:right;
}



.left{
float:left;
}

.right{
float:right;
}

/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}

.nav ul li{
display:inline-block;
text-transform:uppercase;
font-family: 'source_sans_probold';
}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

.section_tagline{
font-size:16px;
}

.section_image{
max-width:100%;
height:auto;
}



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:320px) {

}
@media only screen and (max-width:480px) {

}
@media only screen and (max-width:768px) {
	.section_content_main{
		width:100%;
	}

	.section_content_text{
		width:100%;
	}
	.section_content_image{
		width:100%;
	}

	.section_content_ribbons{
	display:none;
	}
}
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:1140px) {

}
@media only screen and (max-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

.nav ul{
margin-bottom:0px;
padding:0;
}

.nav ul li a{
padding:5px 10px;
display:inline-block;
font-size:20px;
}

.nav ul li a:hover, .nav ul li a:focus{
padding:5px 10px;
display:inline-block;
background-color:$orange;
color:$white;
}

.nav ul li>ul{
display:none;
}

footer{
width:100%;
padding:25px;
}

footer p{
color:$white;
}


/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}

	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}


}
