/*
	Theme Name: Dev Base Child

	Description: Base Theme
	Version: 0.7
	Author: Julian Apong
	Author URI: http://japong.net
	Tags: Blank, HTML5, CSS3
	Template: devbase
	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php

	Based on the excellent HTML5 Blank Theme by Todd Motto
*/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
.background_highlight {
  background-color: #ffc60a;
  color: #f0f0f0; }

.background_highlight a {
  color: #333e48; }
  .background_highlight a:focus, .background_highlight a:hover {
    color: #536575; }

.background_primary {
  background-color: #333e48;
  color: #f0f0f0; }

.background_primary a {
  color: #ffc60a; }
  .background_primary a:focus, .background_primary a:hover {
    color: #ffd857; }

.background_secondary {
  background-color: #7ea3d6;
  color: #f0f0f0; }

.background_secondary a {
  color: #ffc60a; }
  .background_secondary a:focus, .background_secondary a:hover {
    color: #ffd857; }

.background_white {
  background-color: #f0f0f0;
  color: #0f0f0f; }

.background_white a {
  color: #7ea3d6; }
  .background_white a:focus, .background_white a:hover {
    color: #b8cce8; }

.orient_left {
  text-align: left; }

.orient_right {
  text-align: right; }

.section {
  position: relative; }

.section_content {
  min-height: 75vh;
  display: flex;
  width: 100%;
  z-index: 3; }

.section_content_main {
  width: 100%; }

.section_content_text {
  width: 100%; }

.section_content_text .products {
  display: flex; }

.menu_content {
  max-width: 1280px;
  margin: 0 auto; }

.menu_section.sticky {
  background-color: #333e48; }

.section.section_overlay.overlay_half .section_overlay {
  width: 50%;
  height: 100%; }

.section.section_overlay.overlay_half .products {
  flex-direction: column; }

.section.section_overlay.overlay_half .section_content_main {
  width: 50%;
  display: inline-block;
  z-index: 4; }

.section.section_overlay.overlay_half .product_image {
  height: 150px;
  width: 150px; }

.section.feature.overlay_half .product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; }

.section.feature.overlay_half.orient_right .product {
  flex-direction: row-reverse; }

.section.section_overlay.overlay_half.orient_right .product_image {
  float: right; }

.section.section_overlay.overlay_half.orient_left .product_image {
  float: left; }

.section.section_overlay .section_overlay {
  position: absolute; }

.section.section_overlay.overlay_full .section_overlay {
  width: 100%;
  height: 100%; }

.section.section_overlay.overlay_dark .section_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.section.section_overlay.orient_left .section_overlay {
  left: 0; }

.section.section_overlay.orient_right .section_overlay {
  right: 0; }

.section.orient_right .section_content {
  flex-direction: row-reverse; }

.section.section_overlay.overlay_half .product_details {
  width: calc(100% - 175px); }

.section.section_overlay.overlay_half .product_image img {
  object-fit: contain;
  height: 100%;
  width: 100%; }

.section.feature .products {
  justify-content: space-between; }

.section.orient_center .product {
  text-align: center;
  width: 20vw; }

.section.feature.overlay_half .product {
  width: 100%; }

.section.feature .product {
  width: 20vw; }

.bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.header_logo {
  width: 250px;
  height: 250px; }

.header .section_content {
  flex-direction: column-reverse; }

.header_home_logo_icon {
  width: 0;
  opacity: 0;
  height: 30px;
  margin-top: 4px;
  float: left;
  transition: width .5s,opacity .5s; }

@media (max-width: 768px) {
  .section.section_overlay.overlay_dark .section_overlay {
    width: 100%; }

  .section.section_overlay.overlay_half .section_content_main {
    width: 100%; }

  .section.feature .products {
    flex-wrap: wrap; }

  .section.feature .product {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */
